{% extends 'base.html.twig' %}

{% block title %}Hello CollectiviteController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class:"">COLLECTIVITES LOCALES</h2>
    <hr>

    
        <div>

        <div id="zoom" class="d-flex justify-content-center mt-5">
        <img src="img/2.jpg" class="img-fluid" alt="">
        </div>
            
        <div class="d-flex justify-content-center mt-4"> <h5> En juin 2019, la Fédération Française des Télécoms et les représentants des opérateurs de téléphonie mobile ont inauguré 
        les premiers sites 4G multi-opérateurs d’accès à l’internet mobile en Meurthe-et-Moselle (54), à Colmey.</h5>
        </div>

        <div>
    



        
        <div class="d-flex flex-row mt-5">
        <div class="p-2"> <strong >Raccordement :</strong> Définissez la direction des éléments flex dans un conteneur avec des utilitaires de direction. Dans la plupart des cas, 
        vous pouvez omettre la classe horizontale ici car la valeur par défaut du navigateur est row. Toutefois, 
        vous pouvez rencontrer des situations dans lesquelles vous deviez définir explicitement cette valeur (par exemple, les présentations réactives).
        Utilisez .flex-rowpour définir une direction horizontale (valeur par défaut du navigateur) ou .flex-row-reversepour démarrer la direction horizontale du côté opposé.
        </div>
        <div id="zoom-icone" class="p-2">
        <img src="img/4.jpg" class="img-fluid" alt="">
        </div>
        </div>


        <div class="d-flex flex-row mt-5">
        <h4></h4>
        <div id="zoom-icone" class="p-2">
        <img src="img/1.jpg" class="img-fluid" alt="">
        </div>
        <div class="p-2"><strong >Raccordement :</strong>Définissez la direction des éléments flex dans un conteneur avec des utilitaires de direction. Dans la plupart des cas, 
        vous pouvez omettre la classe horizontale ici car la valeur par défaut du navigateur est row. Toutefois, 
        vous pouvez rencontrer des situations dans lesquelles vous deviez définir explicitement cette valeur (par exemple, les présentations réactives).
        Utilisez .flex-rowpour définir une direction horizontale (valeur par défaut du navigateur) ou .flex-row-reversepour démarrer la direction horizontale du côté opposé.
        </div>
        </div>


        <div class="d-flex flex-row mt-5">
        <div class="p-2"><strong >Raccordement :</strong>Définissez la direction des éléments flex dans un conteneur avec des utilitaires de direction. Dans la plupart des cas, 
        vous pouvez omettre la classe horizontale ici car la valeur par défaut du navigateur est row. Toutefois, 
        vous pouvez rencontrer des situations dans lesquelles vous deviez définir explicitement cette valeur (par exemple, les présentations réactives).
        Utilisez .flex-rowpour définir une direction horizontale (valeur par défaut du navigateur) ou .flex-row-reversepour démarrer la direction horizontale du côté opposé.
        </div>
        <div id="zoom-icone" class="p-2">
        <img src="img/5.jpg" class="img-fluid" alt="">
        </div>
        </div>


</div>
{% endblock %}
