{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="mt-5">
<img src="img/actu.jpg" alt="">
</div>
<h2 class="mt-5">Nos Actualités</h2>
<hr>
{% for actu in results %}

<p class="mt-5">{{actu.nouveaute}}</p>

{% endfor %}
</div>
{% endblock %}
