{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<div class="container">
<div class="mt-5">
<img src="img/histoire.jpg" class="img-fluid" alt="">
</div>

<h2 class="mt-5">Notre Histoire en quelques dates </h2>
<hr class="">
{% for historique in results %}
<div class="col sm-4">
<p class="mt-5">{{ historique.text }}</p>
</div>
{% endfor %}
</div>

{% endblock %}
