{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<div class="container">
<div class="d-flex justify-content-center">
<img src="img/histoire.jpg" class="img-fluid" alt="">
</div>

<h2 class="mt-5">Notre Histoire en quelques dates </h2>
<hr class="">

{% for historique in results %}
<div class="col sm-4 mt-5">
<div id="zoom">
<h2>{{ historique.annee }}</h2>
<p class="mt-3">{{ historique.text }} <hr></p>
</div>
</div>

{% endfor %}

</div>

{% endblock %}
