{% extends 'base.html.twig' %}

{% block title %}Nos Clients{% endblock %}

{% block body %}

<div class="container">
<h1 class="mt-5">NOS CLIENTS</h1>
<hr>
<h4 class="d-flex justify-content-center mt-5">ILS NOUS FONT CONFIANCE :</h4>
<div class="mt-5" id="zoom">
<img src="img/clients.jpg" class="img-fluid" alt="nos clients">
</div>
</div>
{% endblock %}
