{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
<div class="mt-5">
<img src="img/contact1.jpg" class="img-fluid" alt="">
</div>
<h2 class= "mt-5">Contactez-nous</h2>
<hr>
{% for contact in results %}

<div class="col sm-4 mt-5">
<h6> Adresse : <br><br>  {{contact.adresse}}</h6>
<h6 class= "mt-5">Tel : <br><br><span>(+33) 0</span>{{ contact.tel | capitalize}}</h6>
<h6 class= "mt-5">E-Mail : <br><br>{{ contact.mail | capitalize}}</h6>
</div>
</div>
{% endfor %}
{% endblock %}
