<link rel="stylesheet" href="{{ asset ('build/css/app.css') }}">
<link rel="stylesheet" href="{{ asset ('build/css/bootstrap.css') }}">

<footer id="foot" class="jumbotron bg-dark" style=" color:orange; height:350 px; background-image:url('{{ asset('img/bg7.jpg') }}'); background-repeat: repeat;">

  <div class="container text-center text-md-left">

    <div class="row mt-5">

      <div id="zoom" class="col-md-4 mx-auto">

        <h5 class="text-uppercase font-weight-bold">A propos de nous</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 200px;">
        <p>HTel Groupe est l'un des principaux fournisseurs de solutions de télécommunication d'entreprise en France, 
        spécialisé dans les systèmes téléphoniques professionnels, la maintenance des systèmes réseaux d'entreprise. HTel Groupe est devenue une entreprise prospère à part entière,
         maintenant l’éthique d’un excellent service client et de produits et services de qualité.</p>

      </div>


      <hr class="clearfix w-100 d-md-none">

<div id="zoom" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <h6 class="text-uppercase font-weight-bold">Mentions Légales</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 160px;">
        <p>
          <a href="#" class="fas fa-print mr-3">Code de pratique</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Politique de confidentialité</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Politique de cookie</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Termes et conditions</a>

      </div>

      <hr class="clearfix w-100 d-md-none">

<div id="zoom" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#" class="fas fa-print mr-3">23 - 25 Av des Morillons <br> Garge Les Gonnesses <br> 95140</a>
        <p>
          <a href="#" class="fas fa-print mr-3">info@HTelGroupe.com</a>
        <p>
          <a href="#" class="fas fa-print mr-3">(+33) 01 22 33 44 55</a>
        <p>
          <a href="#" class="fas fa-print mr-3">(+33) 06 66 66 66 66</a>

      </div>
    </div>
 </div>

  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> HTelGroupe.COM</a>
  </div>

</footer>