  <footer class="jumbotron" style="background-color: #ffffff;">
<hr class="mt-5">
  <!-- Footer Links -->
  <div id="foot" class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div id="zoom" class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">A propos de nous</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>HERRAS Telecom Services est l'un des principaux fournisseurs de solutions de télécommunication d'entreprise en France, 
        spécialisé dans les systèmes téléphoniques professionnels, la maintenance des systèmes réseaux d'entreprise et la mise en place des innovations 
        technologique en cours dans les grandes structures. HERRAS Telecom Services est devenue une entreprise prospère à part entière,
         maintenant l’éthique d’un excellent service client et de produits et services de qualité.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
<div id="zoom" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Mentions Légales</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#" class="fas fa-print mr-3">Code de pratique</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Politique de confidentialité</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Politique de cookie</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Termes et conditions</a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
<div id="zoom" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#" class="fas fa-print mr-3">23 av des morillons Garge Les Gonnesse</a>
        <p>
          <a href="#" class="fas fa-print mr-3">info@herrastelecom.com</a>
        <p>
          <a href="#" class="fas fa-print mr-3">(+33) 01 22 33 44 55</a>
        <p>
          <a href="#" class="fas fa-print mr-3">(+33) 06 66 66 66 66</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> HERRASTELECOM.COM</a>
  </div>
  <!-- Copyright -->

</footer>