{% extends 'base.html.twig' %}

{% block title %}
    Herras Telecom
{% endblock %}

{% block header %}
    <h1>{{ title | upper }}</h1>
{% endblock %}

{% block body %}
 <div class="container">



    <div class="jumbotron mt-3">
    <h1>Herras Telelcom</h1>
    <h3 class="display-5">Réactivité, mobilité et satisfaction sont notre devise</h3>
    <p class="lead"> HERRAS TELECOM est l'interlocuteur unique pour apporter des solutions sur mesure de telecommunication pour les entreprises et les collectivités.</p>
    <hr class="my-4">
    <h5 class="display-5">Vous souhaitez tout savoir sur HERRAS TELECOM pour franchir le grand pas... </h5>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Lire la suite</a>
    </p>
    </div>




<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/reseau1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Réseaux d'entreprise</h5>
          <p>HERRAS TELECOM accompagne les entreprises installées sur plusieurs sites à répondre à leurs besoins en termes d’accès Internet rapide à haut débit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/wifi.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Avec HERRAS TELECOM</h5>
          <p>Vous optez pour les solutions WIFI dernières générations, les plus performantes et répondant aux exigences des normes de sécurité.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/tel.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Telephonie d'entreprise</h5>
          <p>Une offre complète de solutions et services de télécommunication destinées aux structures de 5 à 1000 personnes.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/equipe.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>HERRAS TELECOM</h5>
          <p>C'est aussi une équipe qualifié, expérimenté et à votre écoute pour concevoir, réaliser et maitriser vos projets .</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>
  </div>
</div>








    <h2 class="mt-5">Nos solutions</h2>
    <hr class="my-2">
    <div class="row mt-1">
        <div class="col-md-4">
           <div class="card bg-light mb-3">
              <div class="card-header text-center">
                  <strong>Réseau d'entreprise</strong>
              </div>
              <img src="https://www.normasys.com/wp-content/uploads/2015/05/infrastruc1.jpg" alt="installation réseau d'esntreprise"
              style="height: 200px; width: 100%; display: block">
              <div class="card-body">
                   <h4 class="card-title">Réseau d'entreprise</h4>
                   <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non impedit, fugiat dolorum saepe hic atque optio consectetur dolor recusandae.</p>
                   <a href="#" class="btn btn-primary">en savoir plus</a>
              </div>
           </div>
        </div>
        <div class="col-md-4">
           <div class="card bg-light mb-3">
              <div class="card-header text-center">
                  <strong>Téléphonie d'entreprise</strong>
              </div>
              <img src="https://www.estorm.com.au/wp-content/uploads/2016/03/sub-ip.jpg" alt="installation réseau d'esntreprise"
              style="height: 200px; width: 100%; display: block">
              <div class="card-body">
                   <h4 class="card-title">Téléphonie d'entreprise</h4>
                   <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non impedit, fugiat dolorum saepe hic atque optio consectetur dolor recusandae.</p>
                   <a href="#" class="btn btn-primary">en savoir plus</a>
              </div>
           </div>
        </div>
        <div class="col-md-4">
           <div class="card bg-light mb-3">
              <div class="card-header text-center">
                  <strong>Wifi professionnel</strong>
              </div>
              <img src="https://images.squarespace-cdn.com/content/v1/55075f84e4b0f11bacb1b8d0/1558255405298-0BBA1EJNNMRJDBCYZ6YK/ke17ZwdGBToddI8pDm48kBkSiM__EzOQIDgmzlPq1lAUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcCqGN8ibH_L26LfR-C9ExumJMNnlVG3A26SxeZXqyNoE5FwTtxSqRaVlkHSTPmFO1/wifi+-in-schools-wirelesseducation.jpg?format=750w" alt="installation réseau d'esntreprise"
              style="height: 200px; width: 100%; display: block">
              <div class="card-body">
                   <h4 class="card-title">Wifi professionnel</h4>
                   <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non impedit, fugiat dolorum saepe hic atque optio consectetur dolor recusandae.</p>
                   <a href="#" class="btn btn-primary">en savoir plus</a>
              </div>
           </div>
        </div>
    </div>
  </div>



  
  <footer class="jumbotron mt-3">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">A propos de nous</h5>
        <p>HERRAS Telecom Services est l'un des principaux fournisseurs de solutions de télécommunication d'entreprise en France, 
        spécialisé dans les systèmes téléphoniques professionnels, la maintenance des systèmes réseaux d'entreprise et la mise en place des innovations 
        technologique en cours dans les grandes structures. HERRAS Telecom Services est devenue une entreprise prospère à part entière,
         maintenant l’éthique d’un excellent service client et de produits et services de qualité.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Mentions Légales</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#" class="fas fa-print mr-3">Code de pratique</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Politique de confidentialité</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Politique de cookie</a>
        <p>
          <a href="#" class="fas fa-print mr-3">Termes et conditions</a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#" class="fas fa-print mr-3">23 av des morillons Garge Les Gonnesse</a>
        <p>
          <a href="#" class="fas fa-print mr-3">info@herrastelecom.com</a>
        <p>
          <a href="#" class="fas fa-print mr-3">(+33) 01 22 33 44 55</a>
        <p>
          <a href="#" class="fas fa-print mr-3">(+33) 06 66 66 66 66</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> HERRASTELECOM.COM</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


  
{% endblock %}

