{% extends 'base.html.twig' %}

{% block title %}Notre Equipe{% endblock %}

{% block body %}

<div class='container'>
   <div class="row">
     <div class="col mt-4">

       <h2>Quelques noms de notre équipe :</h2> 
       <hr class="">
     </div>
   <div>

<div class="row mt-5 " >
{% for equipe in results %}
<div class="col-sm-4" id="zoom">
<img src="{{ asset('img/' ~ equipe.photo) }}" class="img-fluid img-thumbnail" alt="">
<h3>{{ equipe.nom | capitalize}}</h3>
<h6>{{ equipe.fonction | capitalize}}</h6>
<p>{{ equipe.message | capitalize}}</p>
</div>


{% endfor %}
</div>
</div>
{% endblock %}
